form {
    margin-top: 80px;
    width: 500px;
}

.input-group {
    display: flex;
    flex-direction: column;
    @include input-element();

    &:focus {
        background-color: $offwhite;
    }

    input {
        border: 1px solid $teal;
        padding: 10px;
        width: 478px;
    }

    #message {
        font-size: 1.1em;
        font-family: "Titillium Web", sans-serif;
    }
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-form-btn {
    width: 200px;
    margin-top: 20px;
}

@media (max-width: 699px) {
    .contact-page-wrapper {
        form {
            width: 300px;
        }

        .input-group {
            input {
                width: 278px;
            }
        }
    }
}

