.contact-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 84px);

    .contact-image {
        background-size: cover;
        background-position: center;
    }
    .right-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 59px;
    }
  
    .bullet-point-group {
        display: flex;
        align-items: center;

        .icon {
        font-size: 2em;
        color: $teal;
        }

        .text {
        font-size: 1.5em;
        font-weight: 900;;
        margin-left: 21px;
        }
    }
}

@media (max-width: 700px) {
    // .contact-page-wrapper {
    //     grid-template-rows: 300px 300px;
    // }
    .bullet-point-group {
        // display: flex;
        // align-items: center;

        .icon {
            font-size: 1em;
        // color: $teal;
        }

        .text {
            font-size: 1em;
        // font-weight: 900;;
        // margin-left: 21px;
        }
    }

}

@media (min-width: 700px) and (max-width: 1050px) {
    .contact-page-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 100px;
       

        .contact-image {
            display: none;
            // width: 100%;
            // justify-self: center;
            // margin: 0px;
            // grid-row: 2;
        }

        .right-column {
            width: 90%;
            grid-row: 1;
            // display: flex;
            // flex-direction: row;
        }
    }
}

@media (max-width: 699px) {
    // .contact-page-wrapper {
    //     grid-template-rows: 300px 300px;
    // }
    .bullet-point-group {
        // display: flex;
        // align-items: center;

        .icon {
            font-size: 1em;
        // color: $teal;
        }

        .text {
            font-size: 1em;
        // font-weight: 900;;
        // margin-left: 21px;
        }
    }

}

